#leadModal{
    z-index: 999 !important;
}


/* MOBILE OPTIMIZATION */
@media (max-width: 640px) {

    /* modal container spacing */
    #leadModal {
        padding: 20px;
        align-items: flex-start;
        overflow-y: auto;
    }

    /* form box */
    #leadModal > div {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 20px;
        border-radius: 16px;
    }

    /* inputs spacing improve */
    #leadModal input,
    #leadModal select,
    #leadModal textarea {
        padding: 14px;
        font-size: 16px;
    }

    /* button size */
    #leadModal button,
    #leadModal a {
        padding: 14px;
        font-size: 16px;
    }

}

/* FORM UI IMPROVEMENT */
#leadModal input,
#leadModal select,
#leadModal textarea {
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    transition: 0.2s;
}

#leadModal input:focus,
#leadModal select:focus,
#leadModal textarea:focus {
    border-color: #f59e0b;
    outline: none;
    background: #fff;
}

/* MOBILE FIX */
@media (max-width: 640px) {

    #leadModal {
        padding: 15px;
        align-items: flex-start;
        overflow-y: auto;
    }

    #leadModal > div {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 18px;
    }

    /* stack first-last name on mobile */
    #leadModal .grid-cols-2 {
        grid-template-columns: 1fr;
    }

}


.whatsapp-btn{
    position:relative;
    transition:all .3s ease;
}

.whatsapp-btn:hover{
    box-shadow:
    0 0 0 4px rgba(37,211,102,.3),
    0 0 20px rgba(37,211,102,.8),
    0 0 40px rgba(37,211,102,.5);
}

.telegram-btn{
    position:relative;
    transition:all .3s ease;
}

.telegram-btn:hover{
    box-shadow:
    0 0 0 4px rgba(0,136,204,.3),
    0 0 20px rgba(0,136,204,.8),
    0 0 40px rgba(0,136,204,.5);
}
